<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.min.css' />
  </head>
  <body>
  	{{>header}}
  	{{>nav}}
  	<main>
    	{{{body}}}
  	</main>
  	{{>footer}}
  </body>
</html>
