<div class="events">
	<h3 class="events__heading">Events</h3>
	<ul class="events__list">
		{{#each events}}
			<li class="events__list-item">
				<p class="events__name">
					{{date}} - {{title}}
				</p>
				<p class="events__info">{{info}}</p>
			</li>
		{{/each}}
	</ul>
</div>
