// Colour Names
$colorWhite: #fafafa;
$colorBlue: #0b9dda;
$colorDarkBlue: #1e4b60;
$colorGreen: #73b90d;
$colorBlack: #0a0a0a;
$colorYellow: #ffed2b;
$colorRed: #b10000;

// Colour Uses
$colorPageBG: $colorWhite;
$colorBodyCopy: $colorBlack;
