// Colour Names
$colorWhite: #fff;
$colorBlue: #0b9dda;
$colorDarkBlue: #1e4b60;
$colorGreen: #73b90d;

// Colour Uses
$colorPageBG: $colorWhite;
$colorBodyCopy: $colorDarkBlue;
$colorSalesCopy: $colorGreen;
$colorSupportCopy: $colorBlue;
