$homePageSectionHeadingBorderWidth: 3px;
.home-page_section-heading {
	color: $colorBodyCopy;
	font-size: 1.5em;
	padding: 0.25em 0.5em;
	position: relative;
	margin-left: calc(-0.5em - #{$homePageSectionHeadingBorderWidth});
	margin-right: calc(-0.5em - #{$homePageSectionHeadingBorderWidth});

	&:before {
		background: $colorYellow;
		border-color: $colorBlack;
		border-radius: 3px 3px 0 0;
		border-style: solid;
		border-width: $homePageSectionHeadingBorderWidth $homePageSectionHeadingBorderWidth 0;
		box-sizing: border-box;
		top: 0;
		content: '';
		height: 1em;
		left: 0;
		position: absolute;
		transform: skewY(-.4deg);
		transform-origin: right top;
		width: 100%;
		z-index: -1;
	}

	&:after {
		background: $colorYellow;
		border-color: $colorBlack;
		border-radius: 0 3px 3px 3px;
		border-style: solid;
		border-width: 0 $homePageSectionHeadingBorderWidth $homePageSectionHeadingBorderWidth;
		box-sizing: border-box;
		top: 0;
		content: '';
		height: 1.25em;
		left: 0;
		position: absolute;
		transform: skewY(-1.5deg);
		transform-origin: right bottom;
		width: 100%;
		z-index: -2;
	}
}
