<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/new-comics">New comics</a></li>
		<li><a href="/back-issues">Back issues</a></li>
		<li><a href="/subscriptions">Subscriptions</a></li>
	</ul>
</nav>
