<nav class="nav">
	<ul class="nav_list">
		<li class="nav_list-item">
			<a class="nav_link" href="/">Home</a>
		</li>
		<li class="nav_list-item">
			<a class="nav_link" href="/new-comics">New comics</a>
		</li>
		<li class="nav_list-item">
			<a class="nav_link" href="/back-issues">Back issues</a>
		</li>
		<li class="nav_list-item">
			<a class="nav_link" href="/subscriptions">Subscriptions</a>
		</li>
	</ul>
</nav>
