<div class="opening-times">
	<h2 class="opening-times__heading">Opening times</h2>
	<ul class="opening-times__list">
		<li class="opening-times__list-item"><strong>Saturday:</strong> 10:00 to 20:00</li>
		<li class="opening-times__list-item"><strong>Sunday:</strong> Closed</li>
		<li class="opening-times__list-item"><strong>Mondday:</strong> 10:00 to 18:00</li>
		<li class="opening-times__list-item"><strong>Tuesday:</strong> 10:00 to 18:00</li>
		<li class="opening-times__list-item"><strong>Wednesday:</strong> 10:00 to 19:00</li>
		<li class="opening-times__list-item"><strong>Thursday:</strong> 10:00 to 18:00</li>
		<li class="opening-times__list-item"><strong>Friday:</strong> 10:00 to 18:00</li>
	</ul>
</div>
